@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #004aad;
    --color-quaternary: #fff;
    --color-secondary: #164e98;
    --color-tertiary: #000;

    --font-open-sans: 'Open Sans';
    --font-montserrat: 'Montserrat';
    --font-roboto: 'Roboto';
    --font-pt-sans: 'PT Sans';
    --font-ruda: 'Ruda';
}

body {
    background-color: #efefef;
}

.header-page {
    background-image: linear-gradient(0deg, #1F0DFA, #0070F5, #0BA1DE);
    color: #fff;
    height: 150px;
    padding: 15px;
    text-align: center;
    text-shadow: 2px 2px 0px #0000007c;
}

.header-page > h1 {
    font-family: var(--font-pt-sans);
}

.header-page > p {
    font-family: var(--font-roboto);
}

.title-page {
    padding: 10px;
}

.sub-title-page {
    padding: 10px;
}

main {
    display: flex;
    justify-content: center;
}

.forms {
    max-width: 542px;
}

.forms fieldset {
    margin: 10px auto;
    width: 100%;
}

fieldset {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    font-family: var(--font-roboto);
    margin: 10px;
    padding: 10px;
    width: 400px;
}

.fieldset-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.fieldset-content ul {
    margin-right: 20px;
}

input[type="radio"], label {
    cursor: pointer;
}

.add-course {
    cursor: pointer;
    padding: 5px;
    width: 500px;
}

input[type="color"] {
    cursor: pointer;
    width: 25px;
}

.container-random-colors, .container-save-cv {
    text-align: center;
}

.random-colors, .save-cv {
    cursor: pointer;
    margin: 10px;
    padding: 5px 100px;
}

.curriculum {
    height: 895.31px;
    margin: 15px;
    padding: 5px;
    width: 655px;
}

.header-cv {
    background-color: var(--color-primary);
    height: 95px;
}

textarea {
    background-color: transparent;
    border: 0;
    resize: none;
    outline: 0;
}

.edit-header {
    color: var(--color-quaternary);
    font-family: var(--font-open-sans), sans-serif;
    font-size: 1em;
    padding: 25.8px;
    text-align: center;
    width: 645px;
}

.main-cv {
    background-color: var(--color-quaternary);
    display: flex;
    height: 800px;
}

.left-article {
    padding: 15px 0px 15px 15px;
    width: 327.5px;
}

.titles {
    color: var(--color-secondary);
    font-family: var(--font-montserrat), sans-serif;
    font-size: 1em;
    letter-spacing: 0.13em;
    width: 310px;
}

.edit-paragraphs {
    font-family: var(--font-roboto), sans-serif;
    margin: 10px 0;
    width: 90%;
}

span,
li {
    color: var(--color-tertiary);
    font-family: var(--font-roboto), sans-serif;
    font-size: 13px;
    line-height: 1.25em;
    list-style-type: none;
    width: 265px;
}

ul {
    margin: 15px 0;
}

li {
    display: flex;
}

.edit-lists {
    font-family: var(--font-roboto), sans-serif;
    font-size: 13px;
    height: 16px;
    margin-left: 5px;
}

.edit-skills-lists {
    font-family: var(--font-roboto), sans-serif;
    margin: 10px 0;
    width: 90%;
}

.right-article {
    padding: 15px 15px 15px 0px;
    width: 327.5px;
}

.right-article ul {
    margin: 5px 0 0 0;
}

.bars {
    background-color: var(--color-primary);
    height: 2px;
    margin: 10px 0px 10px;
    width: 320px;
}

.titles-2 {
    color: var(--color-primary);
    font-family: var(--font-pt-sans), sans-serif;
    font-size: 18px;
    width: 100%;
}

.titles-3 {
    color: var(--color-tertiary);
    font-family: var(--font-ruda), sans-serif;
    font-size: 20px;
    margin: 5px 0 0 0;
    width: 310px;
}

#academicEducationArea ul, #professionalSkillsArea ul {
    margin-bottom: 15px;
}

footer {
    background-color: #1F0DFA;
    height: 25px;
    margin-top: 10px;
    padding: 4px;
    text-align: center;
}

.footer-paragraph span, a {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
}

.footer-paragraph > a:hover {
    color: #0BA1DE;
    text-decoration: underline;
}

@media only print {
    body {
        background-color: var(--color-quaternary);
    }

    main {
        display: block;
    }

    .header-page,
    fieldset {
        display: none;
    }

    .curriculum {
        margin: 0;
        padding: 0;
    }

    .main-cv {
        height: 830px;
    }
}

@media all and (min-width: 1600px) {
    body {
        /* background-color: blue; */
    }
}