@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-header: #004AAD;
    --color-name: #ffffff;
    --color-background: #ffffff;
    --color-title-1: #164E98;
    --color-paragraphs: #000000;
    --color-bars: #004AAD;
    --color-title-2: #004AAD;
    --color-title-3: #000000;
}

body {
    background-color: #efefef;
    display: flex;
}

.document,
.cv {
    height: 895.31px;
    margin-right: 10px;
    padding: 5px;
    width: 655px;
}

header {
    background-color: var(--color-header);
    height: 95px;
}

.edit-header {
    background-color: transparent;
    border: 0;
    color: var(--color-name);
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    height: 95px;
    outline: 0;
    padding: 25.8px;
    resize: none;
    text-align: center;
    width: 645px;
}

main {
    background-color: var(--color-background);
    display: flex;
    height: 800px;
}

.left-article {
    padding: 15px 0px 15px 15px;
    width: 327.5px;
}

.titles {
    color: var(--color-title-1);
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    letter-spacing: 0.13em;
    width: 310px;
}

ul {
    margin: 15px 0px 15px;
}

li {
    display: flex;
}

p,
li,
span,
.skills-list {
    color: var(--cor-paragrafos);
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 1.25em;
    list-style-type: none;

    width: 265px;
}

.edit-list {
    border: 0;
    font-family: 'Roboto', sans-serif;
    height: 16px;
    font-size: 13px;
    margin-left: 5px;
    resize: none;
    outline: 0;
}

.right-article {
    padding: 15px 15px 15px 0px;
    width: 327.5px;
}

.bars {
    background-color: var(--color-bars);
    height: 2px;
    margin: 10px 0px 10px;
    width: 320px;
}

.titles-2 {
    color: var(--color-title-2);
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    margin: 10px 0px 10px;
}

.titles-3 {
    color: var(--color-title-3);
    font-family: 'Ruda', sans-serif;
    font-size: 20px;
    width: 310px;
}